body{
    background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  color:#fff;

}

.App {
  text-align: center;
  padding: 15px;

}
 .active{
   background-color: rgba(255, 255, 255, 0.116);
 }

 .active button{
   background-color: rgb(2, 2, 36);
   font-weight: 700;
   color:#fff;
   padding:5px;
   margin-left:5px;
   font-size: 15px;
 
  }


 .done{
   background-color: rgba(0, 0, 0, 0.555);
 }

 .done button{
   color:rgb(2, 2, 36);
   background-color: rgba(255, 255, 255, 0.596);
   font-weight: 700;
border: 2px solid #fff;
   padding:5px;
   margin-left:5px;
   font-size: 15px;
 }

 hr{
height:2px;
   color:#fff;

 }